<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>

    <!-- Home Content -->
    <section class="home-section">
        <p><%= title %></p>
    </section>

    <%- include partials/bottom_nav.ejs %>
      <%- include partials/footer.ejs %>