<!-- 
  File name: services.ejs
  Student’s Name: Wonsuk Cha
  StudentID: 301155132
  Date: 2021.02.13.
 -->


<%- include partials/header.ejs %>
    <%- include partials/main_nav.ejs %>

        <!-- Service Content -->
        <section class="py-5">
            <div class="container">
                <h1 class="section-heading py-1">
                    <%= title %>
                </h1>
                <div class="row">
                    <div class="card col" style="margin: 5px;">
                        <img src="/Assets/images/automation.png" class="card-img-top card-img" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">RPA Development</h5>
                            <h6>$4,000/month</h6>
                            <p class="card-text"> Experience accurate and fast automation work by top-tier RPA developer. 
                            Uipath, Automation Anywhere available.
                            </p>
                        </div>
                    </div>

                    <div class="card col" style="margin: 5px;">
                        <img src="/Assets/images/ios.png" class="card-img-top card-img" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">iOS App Development
                            </h5>
                            <h6>$3,000/month</h6>
                            <p class="card-text"> Convert your business idea into an iOS app and meet your customers around world.
                            </p>
                        </div>
                    </div>

                    <div class="card col" style="margin: 5px;">
                        <img src="/Assets/images/server.png" class="card-img-top card-img" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Express Server Development</h5>
                            <h6>$3,000/month</h6>
                            <p class="card-text">Get stable and error-free Express Server of a developer who studied at Centennial!
                            </p>
                        </div>
                    </div>

                </div>


            </div>
        </section>

        <%- include partials/bottom_nav.ejs %>
            <%- include partials/footer.ejs %>