<!-- 
  File name: index.ejs
  Student’s Name: Wonsuk Cha
  StudentID: 301155132
  Date: 2021.02.13.
 -->

<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>

    <!-- Home Content -->
    <section>
      <img src="/Assets/images/home-bg.png" class="img-fluid" alt="bg">
      <div class="home-text">
        <h1 class="section-heading">
          <%= title %>
        </h1>
        <h5>"Challenge-oriented, adventurous, self-motivated Software Engineer"</h5>
        <h3>Welcome to Wonsuk's Profile Site</h3>
        <a href="/about"> Click here to know me further </a>
      </div>
    </section>

    <%- include partials/bottom_nav.ejs %>
      <%- include partials/footer.ejs %>